/*
body {
    width: 960px;
    margin: 0 auto;
}
 */

#gameCanvas {
    border: 3px solid #333333;
    margin-left: 24px;
    margin-right: 24px;
}

#nextCanvas {
    border: 2px solid #333333;
    height: 96px;
    width: 96px;
}

#debugArea {
    height: 400px;
    align-self: flex-end;
}

.aa { 
    font: normal normal 12pt/18px Mona,
        "IPA モナー Pゴシック",
        "IPA mona PGothic",
        "IPA MONAPGOTHIC",
        IPAMonaPGothic,
        "MS PGothic AA",
        "ＭＳ Ｐゴシック",
        "MS Pゴシック",
        "MS PGothic",
        "MS Pｺﾞｼｯｸ",
        "ＭＳＰゴシック",
        "MSPゴシック",
        sans-serif;
    font-family: monospace;
    white-space: pre;
    line-height: 1.1;
    word-wrap: normal;
}