/* パンくずリスト */
.breadcrumbs_list {
    margin: 2px;
    padding: 2px;
}

.breadcrumbs_list li {
    display: inline;  /* 横に並べる */
    list-style-type: none;  /* 点を打たない */
}

.breadcrumbs_list li::after {
    content: ">";
    display: inline-block;
    padding: 0 10px;
}

.breadcrumbs_list li:last-child::after {
	display: none;
}

/* ページ全体 */
.page {
    max-width: 980px;
    height: auto;
    margin: 0 auto;
}


/* 箇条書きの幅 */
ol li {
    padding-top: 8px;
    padding-bottom: 8px;
}


.definition {
    counter-increment: definition;
    display: block;
    padding-bottom: 20px;
}

/* 疑似要素 */
.definition::before {
    content: "定義 1." counter(definition);
    font-weight: bold;
    color: green;
}

.definition>*:first-child {
    display: inline;  /* div.definition 直下はインライン */
}

.definition>.title+* {
    display: inline;
}

.definition>.title::before {
    content: " (";
}

.definition>.title::after {
    content: ").";
}

/* body下のexample */
.page>.example {
    counter-increment: definition;
    display: block;
    padding-bottom: 20px;
}

.page>.example::before {
    content: "例 1." counter(definition) ". ";
    font-weight: bold;
    color: red;
}

.page>.example>*:first-child {
    display: inline;
}



/* きったねぇCSS だなぁwww */
/* 例環境 */
.definition ol li>.example {
    padding-top: 4px;
}

.definition ol li>.example::before {
    content: "例 : ";
    font-weight: bold;
}
