<!DOCTYPE html>
<html lang="ja">

<head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# article: https//ogp.me/ns/article# music: https://ogp.me/ns/music#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- OGP -->
    <meta property="og:title" content="{{ page.title }} | {{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://bakkyalo.github.io/mypage/">
    <meta property="og:image" content="./favicons/icon-512x512.png">
    <meta property="og:description" content="わぁい GitHub Pages あかり GitHub Pages 大好き">
    <meta property="og:site_name" content="あかり描像のページ">
    <!-- OGP end -->

    <meta property="twitter:card" content="summary">
    <meta property="twitter:image" content="https://raw.githubusercontent.com/bakkyalo/mypage/master/favicons/icon-512x512.png">

    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="icon" type="image/x-icon" href="./favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png">
    <link href="./css/style_wide.css" rel="stylesheet" />
    <script type="text/javascript" src="./js/include.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript">
        $(function() {
            include_html('side-bar.html', [["sub", "page"]]);
        });
    </script>

    {% include google_analytics.html %}
</head>

<body>
    <!-- パンくずリスト -->
    {% if page.isHome != true %}
    {{ page.first }} &gt; {{ page.title }}
    {% endif %}
    <h1>{{ page.title }}</h1>

    <div class="two-column">
        <div class="main">
            {{ content }}
        </div>

        <div class="side">
            <div id="page">dst</div>
        </div>

    </div>

</body>

{% include footer.html %}

</html>